.blog-slider {
    
    padding-bottom: 15rem;

    .row {
        flex-direction: column;
    }

    &__wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(6, calc(55% - 40px));
        grid-template-rows: auto;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-right: -18rem;
    }

}