.subscription-card {
    
    display: flex;
    flex-direction: column;
    height: auto;

    @include desktop {
        flex-direction: row;
    }

    @include phone {
        flex-direction: column;
    }

    &__img {
        height: 25rem;
        width: 100%;
        background-position: center center;
        background-size: cover;
        background-color: $color-grey-light;
        @include desktop-below {
            height: 100%;
        }
    }

    &__content {
        padding: 7rem 3.5rem;
        height: auto;
        background-color: $color-grey-light;
    }

}