.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &--remedies {
        @include desktop {
            margin-top: -8rem;
        }
        @include tablet {
            margin-top: -3rem;
        }
    }
    
    &__content {

        margin-top: 10rem;
        width: 80%;
        position: relative;

        @include tablet {
            margin-top: 2rem;
        }

        & >:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__paragraph {
        width: 60%;
        margin-bottom: 6rem !important;
    }
    
    &__background {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    &__fingerprint {
        z-index: -1;
        position: absolute;
        top: -30%;

        @include tablet {
            display:none;
        }
    }
    
    
    &__remedy-details {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 10rem;
        padding-left: 8rem;

        &__logo-container {
            max-width: 12rem;
            padding-bottom: 5rem
        }
        
        &__logo {
            width: 100%;
        }

        @include phone-short {
            display: none
        }

        @include desktop {
            padding-left: 0;

            &__logo-container {
                padding-top: 20rem;
                padding-bottom: 0;
            }
            &__logo {
                display: none;
            }
        }

    }

    &__remedy-name {
        display: flex; 
        justify-content: flex-end;
        padding-right: 15%;

        &__title {
            max-width: 80%;
            text-align: right;
        }

        @include desktop {
            padding-right: 0;
            justify-content: center;
            
            &__title {
                max-width: 100%;
                text-align: center;
            }
        }

    }
} 

.hero-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    &__center-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &--bottle {
            top: 53%;
            max-width: 18rem;

            @include phone-short {
                top: 60%;
            }
    
        }
    }

    &__bottom-right-container {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__button-container {
        padding: 4rem;
    }

}