.responsive-img {
    width: 100%;
}

.relative {
    position: relative;
}

.w-100 {
    width: 100%;
}

.my-xxl {
    margin: $margin-xxl 0;
}

.mb-xl {
    margin-bottom: $margin-xl;
}

.mb-lg {
    margin-bottom: $margin-lg;
}

.mb-md {
    margin-bottom: $margin-md;
}

.mb-sm {
    margin-bottom:  $margin-sm;
}

.mb-xs {
    margin-bottom:  $margin-xs;
}